# Custom
TODO.*
playground/

# IDEs
.idea

# Kotlin Language Server
kls_database.db

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Java
java_pid*
